<nav class="navbar navbar-default navbar-fixed-top navbar-custom">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      {%- if site.title-img -%}
        <a class="navbar-brand navbar-brand-logo" href="{{ site.title-locale[page.lang].url | relative_url }}"><img src="{{ site.title-img }}"/></a>
      {%- else -%}
        <a class="navbar-brand" href="{{ site.title-locale[page.lang].url | absolute_url }}">{{ site.title }}</a>
      {%- endif -%}
    </div>

    <div class="collapse navbar-collapse" id="main-navbar">
      <ul class="nav navbar-nav navbar-right">
      {%- for link in site.navbar-links[page.lang] -%}
        {%- if link[1].first %}
          <li class="navlinks-container">
            <a class="navlinks-parent" href="javascript:void(0)">{{ link[0] }}</a>
            <div class="navlinks-children">
              {%- for childlink in link[1] -%}
              {%- for linkparts in childlink %}
              <a href="{{ linkparts[1] | relative_url }}">{{ linkparts[1] }}</a>
              {%- endfor -%}
              {%- endfor %}
            </div>
          </li>
        {% else %}
          <li><a href="{{ link[1] | relative_url }}">{{ link[1] }}</a></li>
        {%- endif -%}
      {%- endfor -%}


<!-- impostare multilingua-->
	  {% assign posts=site.posts | where:"ref", page.ref | sort: 'lang' %}
	  {% for post in posts %} 
	<li>
	    <a href="{{ post.url | prepend: site.baseurl }}" class="{{ post.lang }}">{{ post.lang }}</a>
	</li>
	  {% endfor %}
	
	  {% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}
	  {% for page in pages %} 
	<li>
	    <a href="{{ page.url | prepend: site.baseurl }}" class="{{ page.lang }}">{{ page.lang }}</a>
	</li>
	  {% endfor %}
      </ul>
    </div>

	{% if page.image and (layout.show-avatar or page.show-avatar) %}
	<div class="avatar-container">
	  <div class="avatar-img-border">
	    <a href="{{ site.title-locale[page.lang].url | absolute_url }}">
	      <img class="avatar-img" src="{{ page.image | relative_url }}" />
		</a>
	  </div>
	</div>
	{% elsif site.avatar and (layout.show-avatar or page.show-avatar) %}
	<div class="avatar-container">
	  <div class="avatar-img-border">
	    <a href="{{ site.title-locale[page.lang].url | absolute_url }}">
	      <img class="avatar-img" src="{{ site.avatar | relative_url }}" />
		</a>
	  </div>
	</div>
	{% endif %}

  </div>
</nav>
